.maincontent {
    width: 1440px;
    overflow-y: auto;
    flex-grow: 1 !important;
    height: 100%;
    align-self: center;
    font-family: 'Aldrich', sans-serif;
    color: white;
  }
  .introductionText{
    width: 620px;
    height: 367px;
    font-size: 36px;
  }
  .introduction{
    margin-top: 50px;
    display: flex;
    justify-content: space-between !important;
  }
  .HeaderIntText{
    color: #C51DCE;
    margin-bottom: 36px;
  }
  .introductionImg{
    margin-top: 50px;
    /* display: flex;
    margin: auto; */
  }
  .LogoImgIntroduction{
    width: auto;
    height: 380px;
  }
  .techStack{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
