p{
    margin: 0;
}
.background {
    height: 100vh;
    background: linear-gradient(
      to bottom,        
      #373640 13%,       
      #4A3265 46%,       
      #794A8F 77%,      
      #9E9E9E 100%    
    );
  }
  .header {
    width: 100%;
    height: 90px;
    background-color: #242020;
  }
  .headerContent{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 90px;
    align-items: center;
  }
  .headerIntroduction p:hover{
    color: #C51DCE;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 10px rgba(146, 22, 153, 0.8), 0 0 20px rgba(146, 22, 153, 0.6);
    cursor: pointer;
}
  .headerIntroduction{
    display: flex;
    font-family: 'Aldrich', sans-serif; 
    font-size: 24px;
    gap: 20px;
    color: white;
  }
  .headerName{
    font-family: 'Aldrich', sans-serif; 
    display: flex;
    color: #C51DCE;
    font-size: 24px;
    align-items: center;
    gap: 20px;
  }
  .color{
    color: #C51DCE;
  }
  .LogoImg{
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  .headerName:hover{
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 10px rgba(146, 22, 153, 0.8), 0 0 20px rgba(146, 22, 153, 0.6);
  }